body {
  background-color: #668AA7;
  color: #1C0227;
}

/* Navigation */
#nav_container {
  margin-top: 1.5em;
}

.nav_links {
  height: 2.5em;
  margin-top: 2.75em;
}

.no_list_style {
  list-style: none;
  flex-basis: auto;
}



#nav_container {
  /*height: 8em;*/
  background-color: #F0D649;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  #nav_container {
    background-color: red;
    flex-direction: column;
    width: 10em;
    /*width: 16em;*/
    /*transform: rotate(90deg);*/
    /*height: 100%;*/
  }

  /*#nav_container > li {
    display: block;
    position: relative;
    top: -400%;
  }*/
}
