body {
  background-color: #E2E2E2;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu Mono"
}

a:hover {
  background-color: #F0D649;
  color: #F0D649;
}

a:active {
  background-color: #F4E74D;
  color: #F4E74D;
}

.hidden {
  display: none;
}

#main_header {
  height: 250px;
  display: flex;
  justify-content: flex-end;
  background-color: #6E7271;
}

.intro_content {
  margin-top: 5%;
}

.linkedin {
  position: relative;
  top: 5px;
}

#email {
   margin: 0;
   position: relative;
   bottom: 0.95em;
}

#footer_email {
  margin: 0;
  position: relative;
  bottom: 0.85em;
  right: 0.1em;
}

.single_flex {
  flex: 1;
}


/* Navigation */
.nav_links {
  height: 2.5em;
  margin-top: 1em;
}

.no_list_style {
  list-style: none;
}

#profile_image {
  width: 200px;
  margin-top: 15%;
}

#quote_projects {
  height: 400px;
  background-color: #ACAD94;
}

#nav_container {
  display: flex;
  justify-content: space-between;
}

#nav_background {
  position: relative;
  z-index: -9;
}

#quote {
  position: relative;
  left: 30%;
  top: 30%;
}

#email_link {
  position: relative;
  top: 45px;
  right: 30px;
}

.parallax {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#main_background {
  height: 400px;
  background-image: url("../images/zion.jpg");
}

#profile > img {
  box-shadow: 2px 4px;
}

#second_background {
  height: 400px;
  background-image: url("../images/zion.jpg");
}

#third_background {
  height: 500px;
  background-image: url("../images/cyndi-and-chloe.jpg");
  background-attachment: fixed;
  background-position: top;
}

#fourth_background {
  height: 600px;
  background-image: url("../images/cyndi.jpg");
}

@media (min-width: 320px) and (max-width: 767px) {
  body {
    display: flex;
    flex-direction: column;
  }

  nav {
    flex: 0 2 auto;
    align-self: center;
  }

  #quote {
    left: 0;
  }

  #nav_burger {
    align-self: flex-start;
  }


  #nav_container {
    flex-direction: column;
  }

  #nav_background {
    display: none;
  }

  #email_link {
    right: 0;
  }

  #github {
    height: 3em;
  }

  .parallax {
    background-attachment: scroll;
  }

  #profile > img {
    position: relative;
    right: 80px;
  }

  #second_background {
    background-image: url("../images/ZionBAndW.jpg")
  }

  #third_background {
    background-position: left;
  }

  #main_header {
    flex-direction: column;
  }

  #footer_nav {
    flex-direction: column;
    align-items: center;
  }

  .intro_content > h1 {
    color: #E2E2E2;
  }

  .intro_content > h3 {
    color: #E2E2E2;
  }

}

#footer_nav {
  display: flex;
  justify-content: space-between;
}
